*:before,
*:after {
    box-sizing: border-box;
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    font-family: "Mono", sans-serif !important;
    font-size: 18px;
    background: -webkit-linear-gradient( 100deg, rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.35), rgba(243, 112, 34, 0.3), rgba(243, 112, 34, 0.35), rgba(243, 112, 34, 0.3), rgba(255, 127, 39, 0.3), rgba(77, 183, 72, 0.3), rgba(77, 183, 72, 0.3), rgba(109, 233, 27, 0.3), rgba(109, 233, 27, 0.3));
    background: linear-gradient( 100deg, rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.4), rgba(1, 131, 243, 0.35), rgba(243, 112, 34, 0.3), rgba(243, 112, 34, 0.35), rgba(243, 112, 34, 0.3), rgba(255, 127, 39, 0.3), rgba(77, 183, 72, 0.3), rgba(77, 183, 72, 0.3), rgba(109, 233, 27, 0.3), rgba(109, 233, 27, 0.3));
}

.headerlink>.nav-item>.nav-link {
    color: rgb(0, 123, 255);
    margin: 8px;
}

.headerlink>.nav-item:hover>.nav-link {
    color: white;
    box-shadow: 0px 0px 2px lightskyblue;
    transform: scale(1.2);
    transform: translate(4px, 0px);
    transition: 0.5s;
    transition-timing-function: ease;
}

.headerlink>.nav-item:hover {
    background-color: lightskyblue;
    box-shadow: 0px 0px 1px grey;
    border-radius: 10px;
}

#back-to-top {
    z-index: 5;
    position: fixed;
    display: none;
    width: 45px;
    height: 45px;
    bottom: 35px;
    right: 35px;
    opacity: 0.8;
    border-radius: 50%;
    background-color: rgb(23, 74, 146) !important;
}

#back-to-top:hover {
    width: 48px;
    height: 48px;
    transition: 0.68s;
    bottom: 40px;
    opacity: 0.9;
}


/* Index page CSS */

.carousel-item>img {
    object-fit: cover;
    width: 100%;
    height: 900px;
    margin: 0;
    padding: 0;
}

.carousel-control-prev:hover {
    box-shadow: 0px 0px 0 0 rgba(1, 131, 243, 0.1), 180px 0px 50px 0 rgba(1, 131, 243, 0.1) inset;
}

.carousel-control-next:hover {
    box-shadow: 0px 0px 0 0 rgba(1, 131, 243, 0.1), -180px 0px 50px 0 rgba(1, 131, 243, 0.1) inset;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 20px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    color: lightcyan;
}


/* IndexForm */


/* Class để đặt cấu trúc của form khi nhập input */

.indexForm {
    z-index: 4;
    position: absolute;
    margin: 68px 0px 0px 0px;
    height: 290px;
    background: -webkit-linear-gradient( 100deg, rgba(1, 131, 243, 0.9), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.6), rgba(243, 112, 34, 0.9), rgba(243, 112, 34, 0.8), rgba(243, 112, 34, 0.7), rgba(255, 127, 39, 0.6), rgba(77, 183, 72, 0.9), rgba(77, 183, 72, 0.8), rgba(109, 233, 27, 0.6), rgba(109, 233, 27, 0.6));
    background: linear-gradient( 100deg, rgba(1, 131, 243, 0.9), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.6), rgba(243, 112, 34, 0.9), rgba(243, 112, 34, 0.8), rgba(243, 112, 34, 0.7), rgba(255, 127, 39, 0.6), rgba(77, 183, 72, 0.9), rgba(77, 183, 72, 0.8), rgba(109, 233, 27, 0.6), rgba(109, 233, 27, 0.6));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pax {
    visibility: hidden;
}


/* indexForm-Tab */

#indexFormTab {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-self: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#indexFormTab>li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#indexFormTab>li>.nav-link {
    font-weight: 600;
    color: rgb(231, 231, 231);
    background-color: transparent;
}

#indexFormTab>li>.nav-link.active {
    overflow: hidden;
    position: relative;
    color: rgb(255, 199, 9);
    text-shadow: 1px 0px 2px black;
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 2px 2px rgba(12, 77, 161, 0.3);
    box-shadow: 0px 2px 3px rgba(255, 254, 254, 0.3);
    box-shadow: 0px 4px 4px rgba(12, 77, 161, 0.6);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    /* background-color: rgba(12, 77, 161, 0.88); */
    background-color: rgb(28, 55, 93);
    height: 100%;
    font-size: larger;
    font-weight: 800;
    border: none;
    padding: auto;
}


/* Tabpane */


/* News Zone */

.newsContainer {
    margin: 30px auto 10px auto;
    display: flex;
    justify-content: center;
}

.newsContainer>div>a {
    position: relative;
    text-align: center;
}

h3.newsTitle {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 10px;
    top: -139px;
    left: 8px;
    color: white;
    font-size: larger;
    font-weight: 700;
    text-shadow: 0 1px 2px black;
    padding: 20px 20px 0px 10px;
    background-color: #13609f74;
}

.eachIndexNews:hover .newsTitle,
.eachIndexNews:hover .newsJumpArrow {
    color: rgb(255, 199, 9) !important;
    font-weight: 900;
    background-color: #13609fd3;
    margin-bottom: 5px;
    transition: 0.39s;
}

.newsJumpArrow {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 38px;
    background-color: #13609f58;
    padding: 10px;
    border-radius: 15px;
}

.newsJumpArrow>a {
    text-decoration: none;
    text-shadow: 0px 1px 2px black;
}

.newsJumpArrow>a>li {
    bottom: 5px;
    right: 2px;
}

.newsJumpArrow:hover>a>li {
    right: -39px;
    transition: 1.2s;
    transition-timing-function: "ease-in-out";
}


/* End Index CSS */


/* Footer */

.register-panel {
    background-color: rgb(28, 55, 93);
    color: whitesmoke;
    box-shadow: 0px 0px 5px rgb(23, 74, 146);
    box-shadow: 0px 0px 15px rgb(23, 74, 146);
    font-weight: bolder;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    padding: 0px;
}

.register-panel>div>div>button {
    background-color: rgb(23, 74, 146) !important;
}

.register-panel>div>div>button:hover {
    color: rgb(255, 199, 9) !important;
}

.footer>div>p>a {
    color: rgba(27, 26, 26, 0.87);
}

.footer>div h4 {
    color: rgb(0, 123, 255);
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


/* Input passenger quantity */

#genderPopup {
    height: 196px;
    position: relative;
    border: none;
    background: -webkit-linear-gradient( 100deg, rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.4), rgba(243, 112, 34, 0.6), rgba(243, 112, 34, 0.3), rgba(243, 112, 34, 0.3), rgba(255, 127, 39, 0.3), rgba(77, 183, 72, 0.4), rgba(77, 183, 72, 0.4), rgba(109, 233, 27, 0.3), rgba(109, 233, 27, 0.3));
    background: linear-gradient( 100deg, rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.4), rgba(243, 112, 34, 0.6), rgba(243, 112, 34, 0.3), rgba(243, 112, 34, 0.3), rgba(255, 127, 39, 0.3), rgba(77, 183, 72, 0.4), rgba(77, 183, 72, 0.4), rgba(109, 233, 27, 0.3), rgba(109, 233, 27, 0.3));
}

.gender_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: -webkit-linear-gradient( 100deg, rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.4), rgba(243, 112, 34, 0.6), rgba(243, 112, 34, 0.3), rgba(243, 112, 34, 0.3), rgba(255, 127, 39, 0.3), rgba(77, 183, 72, 0.4), rgba(77, 183, 72, 0.4), rgba(109, 233, 27, 0.3), rgba(109, 233, 27, 0.3));
    border-image-source: linear-gradient( 100deg, rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.3), rgba(1, 131, 243, 0.4), rgba(243, 112, 34, 0.6), rgba(243, 112, 34, 0.3), rgba(243, 112, 34, 0.3), rgba(255, 127, 39, 0.3), rgba(77, 183, 72, 0.4), rgba(77, 183, 72, 0.4), rgba(109, 233, 27, 0.3), rgba(109, 233, 27, 0.3));
}

.gender_box>label {
    justify-content: start;
    align-items: center;
    margin-right: auto;
    font-weight: 900;
    padding: 8px 0px 0px 6px;
    color: white;
    text-shadow: 0px 1px 2px black;
}

.gender_box>.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 33px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    background-color: #fff;
}

.gender_box>.btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    font-size: 24px;
    background-color: #c8c8c8;
}

.gender_box>.btn:active {
    background-color: #ccc;
}

.gender_box>input {
    width: 60px;
    height: 33px;
    padding: 5px 10px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    font-size: 22px;
    margin: 0px 5px;
}


/* -------------- Booking CSS --------------- */


/* CSS for all form tabs */

.booking_tab {
    display: none;
}

.booking_step {
    color: rgb(23, 74, 146);
}

.breadcrumb_item.booking_step.activated {
    color: white;
    font-weight: 800;
    background-color: rgb(23, 74, 146);
}

#booking_form {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .shortNav {
        display: none !important;
    }
}

@media screen and (max-width: 680px) {
    #booking_form {
        display: block;
    }
    #booking_form>div {
        display: block;
        width: 100%;
    }
    #bookingsummary {
        margin: 10px;
        width: 100%;
        display: block;
    }
}


/*  */

.booking_head_nav_breadcrumb {
    display: flex;
    overflow: hidden;
    align-self: stretch;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
}

.booking_head_nav_breadcrumb>.breadcrumb_item {
    position: relative;
    margin: auto 0;
    border-radius: 5px;
    width: 24%;
    word-wrap: break-word;
    background: #fff;
    color: #333;
    text-align: center;
    text-decoration: none;
    transition: background 0.2s linear;
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb_item.booking_step.activated:hover {
    color: rgb(255, 199, 9);
}

.booking_head_nav_breadcrumb>.breadcrumb_item:hover:after,
.booking_head_nav_breadcrumb>.breadcrumb_item:hover {
    background-color: rgba(38, 99, 184, 0.644);
}


/* origin ----> plane ----> dest */

.outbound_title,
.inbound_title,
.passenger_title {
    display: inline-flex;
    width: 100%;
    margin-bottom: 15px;
}

.outbound_title>span,
.inbound_title>span,
.passenger_title>span {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.icon_plane,
.passenger_title>li {
    border-radius: 50%;
    background-color: rgb(23, 74, 146);
    padding: 10px;
    margin-top: 8px;
    height: 40px;
    color: white;
    margin-right: 5px;
}


/* End origin ----> plane ----> dest */

.obFlight_tabcontent,
.ibFlight_tabcontent {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5px;
}

.flt_Info {
    padding-right: 15px;
    margin: 0;
    border-right: lightgrey 1px solid;
}

.flt_Info>div {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.flt_price {
    justify-content: center;
    align-self: center;
    display: flex;
    align-content: center;
}

.line {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: grey;
    font-size: 14px;
}

.line>* {
    align-self: center;
}


/* #bookingsummary {
    display: none;
} */


/*

    ***    TRUNG - GROUP 1    ***

*/

.form-wrapper {
    margin-top: 10px;
    padding: 25px 0;
}

.form-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #4a4a4a;
}

.form-box {
    border: 1px solid #aaa;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 2px;
    margin-bottom: 15px;
    position: relative;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px #fff;
}

.form-label {
    font-weight: bold;
    font-size: 0.8rem;
    color: #4a4a4a;
    margin: 0;
    cursor: text;
    user-select: none;
    position: absolute;
    top: 0px;
    left: 8px;
}

.form-input {
    outline: none;
    border: none;
    background: none;
    padding: 22px 10px 8px;
    font-size: 13px;
}

.form-error {
    position: absolute;
    right: 8px;
    bottom: -15px;
    font-size: 12px;
}

.active_trung {
    border: solid 1px #2196f3;
    box-shadow: 0px 0px 7px 0px #2196f3;
}

.active-red_trung {
    border: solid 2px red;
    background-color: rgb(250, 167, 167);
}

.activeTxt_trung {
    color: #2196f3;
}

.activeTxt-red_trung {
    color: red;
}

.table_trung {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    box-shadow: 0px 6px 20px 3px #7a7a7a;
}

.table-header_trung th {
    border-bottom: 2px solid #4a4a4a !important;
    border-top: none !important;
    /* color: #fff; */
}

.table-body_trung {
    /* background-color: #4a4a4a; */
    color: #4a4a4a;
}

.table-body_trung td {
    border-bottom: none !important;
    border-top: none !important;
}

.seatmap-table-bordered_trung {
    border: 1px solid #4a4a4a !important;
}

.seatmap-table-bordered_trung th,
.seatmap-table-bordered_trung td {
    border: 1px solid #4a4a4a !important;
}


/* SEAT MAP start*/

.seat-available_trung {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #2196f3;
    cursor: pointer;
    font-size: 10px;
}

.seat-available_trung div {
    width: 30px;
    height: 30px;
}

.seat-disabled_trung div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: not-allowed;
    user-select: none;
    width: 30px;
    height: 30px;
    background-color: #aaa;
}

.exit-seat_trung {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: not-allowed;
    user-select: none;
    width: 30px;
    height: 30px;
    visibility: visible;
}

.seat-selected_trung {
    cursor: not-alloweds;
    user-select: none;
    pointer-events: none;
}

.seat-selected_trung div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: not-allowed;
    width: 30px;
    height: 30px;
    background-color: #4db748;
    font-size: 13px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatmap-container_trung {
    height: 678px;
    overflow: auto;
}

.seatmap-container_trung::-webkit-scrollbar {
    width: 10px;
}


/* Track */

.seatmap-container_trung::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


/* Handle */

.seatmap-container_trung::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(to bottom,#2196f3,#f37022,#4db747); */
    border-radius: 10px;
    background-color: #f90;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.seatInput_trung {
    outline: none;
    border: none;
    background: none;
    width: 50%;
    text-align: center;
    color: #4a4a4a;
}

.selected_trung {
    width: 50%;
    text-align: center;
    outline: none;
    border: none;
    background: none;
    color: #4a4a4a;
}

.seatno_trung {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none !important;
}

.remove-seat-btn {
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.plane-tail-wrapper_trung {
    display: flex;
    justify-content: center;
}

.plane-tail_trung {
    border-radius: 0 0 10% 10%/0 0 80% 80%;
    width: 100%;
    height: 80px;
    border-top-color: #2196f3;
    border-top-style: solid;
    border-bottom: 2px solid #2196f3;
    border-left: 2px solid #2196f3;
    border-right: 2px solid #2196f3;
    margin-top: 20px;
    /* background-color: #fff; */
}

.plane-nose_trung {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 2px solid #2196f3;
}

.image_trung {
    width: 100%;
    margin-top: -33%;
}

.col-num_trung {
    position: absolute;
    top: 202px;
    left: 165px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

.col-num_trung>div {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table.table-seatmap_trung {
    border-collapse: unset;
    border-spacing: 4px;
}

.table.table-seatmap_trung td {
    border: none;
}

.seat-row_trung {
    display: flex;
    justify-content: space-between;
}

.seat-body_trung {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 2px solid #2196f3;
    border-right: 2px solid #2196f3;
    padding: 0 15px;
}

.seat-unit-C {
    margin-right: 50px;
}

.agree-form_trung {
    border: 1px solid #f37022;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #2094f3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #f37022;
}

.boardingpass {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.boardingpass-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.boardingpass-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boardingpass-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    padding: 20px 20px;
    border: 1px solid #000;
}

.boardingpass-right-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardingpass-name {
    font-size: 25px;
    font-weight: bold;
}

.boardingpass-label {
    font-size: 15px;
}

.boardingpass-detail {
    font-size: 18px;
    font-weight: bold;
}


/* SEAT MAP end*/