body {
    padding-top: 68px;
    font-family: 'Mono', sans-serif!important;
    font-size: 18px;
    background-color: rgba(209, 230, 245, 0.9);
}

.headerlink>.nav-item>.nav-link {
    color: rgb(0, 123, 255);
    margin: 10px;
}

.headerlink>.nav-item:hover>.nav-link {
    color: white;
    box-shadow: 0px 0px 2px lightskyblue;
    transform: scale(1.2);
    transform: translate(4px, 0px);
    transition: 0.5s;
    transition-timing-function: ease;
}

.headerlink>.nav-item:hover {
    background-color: lightskyblue;
    box-shadow: 0px 0px 1px grey;
    border-radius: 10px;
}


/* Index page CSS */

.carousel-item>img {
    object-fit: cover;
    width: 100%;
    height: 800px;
}

.carousel-control-prev:hover {
    box-shadow: 0px 0px 0 0 rgba(1, 131, 243, 0.1), 180px 0px 50px 0 rgba(1, 131, 243, 0.1) inset;
}

.carousel-control-next:hover {
    box-shadow: 0px 0px 0 0 rgba(1, 131, 243, 0.1), -180px 0px 50px 0 rgba(1, 131, 243, 0.1) inset;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 28px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    color: lightcyan;
}


/* IndexForm */

.indexForm {
    z-index: 5;
    position: absolute;
    margin-top: 30px;
    height: 280px;
    background: -webkit-linear-gradient(100deg, rgba(1, 131, 243, 0.9), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.6), rgba(243, 112, 34, 0.9), rgba(243, 112, 34, 0.8), rgba(243, 112, 34, 0.7), rgba(255, 127, 39, 0.6), rgba(77, 183, 72, 0.9), rgba(77, 183, 72, 0.8), rgba(109, 233, 27, 0.6), rgba(109, 233, 27, 0.6));
    background: linear-gradient(100deg, rgba(1, 131, 243, 0.9), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.6), rgba(243, 112, 34, 0.9), rgba(243, 112, 34, 0.8), rgba(243, 112, 34, 0.7), rgba(255, 127, 39, 0.6), rgba(77, 183, 72, 0.9), rgba(77, 183, 72, 0.8), rgba(109, 233, 27, 0.6), rgba(109, 233, 27, 0.6));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pax {
    visibility: hidden;
}


/* indexForm-Tab */

#indexFormTab {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-self: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#indexFormTab>li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#indexFormTab>li>.nav-link {
    font-weight: 600;
    color: rgb(231, 231, 231);
    background-color: transparent;
}

#indexFormTab>li>.nav-link.active {
    overflow: hidden;
    position: relative;
    color: rgb(255, 199, 9);
    text-shadow: 1px 0px 2px black;
    background-color: lightskyblue;
    height: 100%;
    font-size: larger;
    font-weight: 900;
    border: none;
    padding: auto;
}


/* Tabpane */

.newsContainer {
    margin: 100px auto auto auto;
    display: block;
    border: cadetblue 1px solid;
}

.register-panel {
    background-image: repeating-linear-gradient(100deg, rgba(1, 131, 243, 0.9), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.8), rgba(1, 131, 243, 0.6), rgba(243, 112, 34, 0.9), rgba(243, 112, 34, 0.8), rgba(243, 112, 34, 0.7), rgba(255, 127, 39, 0.6), rgba(77, 183, 72, 0.9), rgba(77, 183, 72, 0.8), rgba(109, 233, 27, 0.6), rgba(109, 233, 27, 0.6));
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
}


/* End Index CSS */


/* Footer */

.footer>div>p>a {
    color: rgba(27, 26, 26, 0.87);
}

.footer>div h4 {
    color: rgb(0, 123, 255);
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

footer li a {
    text-decoration: none;
}